$font-stack: Helvetica, sans-serif;
$primary-color: #30425a;
$text-color: #fefcf9;

$primero: #8af9ff;
$segundo: #dfffd0;
$tercero: #ff1c00;
$cuarto: #75fff8;
$quinto: #e4eaff;

body {
  font: 100% $font-stack;
}

.background {
  background-image: url('../../../assets/images/05-background.svg');
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; /* Fija la imagen en su posición original */
}

.blue {
    font: 100% $font-stack;
    background-color: transparent;
  }

ion-card {
    box-shadow: none;
}

ion-card-title, ion-card-subtitle{
    color: $primary-color;
}

.text-input{
    background: $primero;
}